openapi: 3.0.3
info:
  title: Flowpipe
  description: |-
    This is Flowpipe API

  termsOfService: http://flowpipe.io/terms/
  contact:
    email: info@flowpipe.io
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: 0.1.0
externalDocs:
  description: Find out more about Flowpipe
  url: http://flowpipe.io
servers:
  - url: https://flowpipe.io/api/v0
tags:
  - name: Pipeline
    description: Everything about Pipeline
    externalDocs:
      description: Find out more
      url: http://flowpipe.io/docs/pipeline
  - name: Pipeline State
    description: Everything about Pipeline State
    externalDocs:
      description: Find out more
      url: http://flowpipe.io/docs/pipeline
paths:
  /pipeline:
    get:
      tags:
        - Pipeline
      summary: List Pipelines
      description: List Pipelines
      operationId: pipeline_List
      parameters:
        - description: >-
            The max number of items to fetch per page of data, subject to a min
            and max of 1 and 100 respectively. If not specified will default to
            25.
          in: query
          name: limit
          schema:
            default: 25
            maximum: 100
            minimum: 1
            type: integer
        - description: >-
            When list results are truncated, next_token will be returned, which
            is a cursor to fetch the next page of data. Pass next_token to the
            subsequent list request to fetch the next page of data.
          in: query
          name: next_token
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelinesResponse'
          description: OK
        '400':
          description: Invalid ID supplied
        '404':
          description: Pet not found
        '405':
          description: Validation exception
components:
  schemas:
    ListPipelinesResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/Pipeline'
          type: array
        next_token:
          type: string
      type: object
    Pipeline:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 100000
        username:
          type: string
          example: fehguy
      xml:
        name: pipeline
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey