# early Flowpipe bug that used to create ~ directory in the root directory of the repo
~

# VS Code debug binary
__debug_bin*

# Editor cache and lock files
*.swp
*.swo
.DS_Store

# Flowpipe binary
flowpipe
*.tar.gz

# accidental .flowpipe directory in workspace dir
.flowpipe

# Flowpipe specific, this file is copied to the root directory when building Open Api documentation, this file should be ignored
generate-open-api.sh

# IDE
.idea/
.run
.vscode/

# temp debug file (that can sometime fail to delete)
__debug_bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dist directory is created by goreleaser
dist/

tmp/

**/*.jsonl

# release process token (example taken from goreleaser-cross)
.release-env

# UI build
node_modules

# Bug in testcases can often drop flowpipe.db in the root directory of the repo
flowpipe.db