
<div style="overflow:hidden;max-width:800px;margin:auto;">
    <font size="-1">
        <div dir="ltr">
            <div
                    style="
                    color: rgb(26, 27, 33);
                    font-family: Inter, -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                    font-size: 16px;
                    margin-bottom: 20px;
                    width:inherit;
                "
            >
                <div style="margin-bottom: 20px;">
                    <br />
                    <div>
                        <img src="https://flowpipe.io/images/flowpipe_email_logo.png" alt="Flowpipe Logo" height="40" />
                    </div>
                </div>
                <div style="line-height:26px;margin-bottom:12px;text-align:initial;word-break:break-word">
                    {{ $prompt := .Prompt }}
                    <h2 style="font-size:1em;">{{ $prompt }}</h2>
                </div>
            </div>
        </div>
    </font>
</div>