@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-pipeling-default {
  --color-background: theme("colors.gray.200");
  --color-foreground: #222;
  --color-foreground-light: theme("colors.gray.400");
  --color-modal: theme("colors.white");
  --color-modal-divide: theme("colors.gray.200");
  --color-alert: 218 30 40 /* #da1e28 */;
  --color-ok: 25 128 56 /* #198038 */;
  --color-info: 49 133 252; /* #3185fc */
  --color-flowpipe-blue: 76 130 230; /* #4c82e6 */
  --color-flowpipe-blue-dark: 0 51 102; /* #036 */
}

.theme-pipeling-dark {
  --color-background: theme("colors.gray.800");
  --color-foreground: #e5e7eb;
  --color-foreground-light: theme("colors.gray.400");
  --color-modal: theme("colors.gray.600");
  --color-modal-divide: theme("colors.gray.700");
  --color-alert: 248 55 65 /* #f83741 */;
  --color-ok: 36 161 72 /* #24a148 */;
  --color-info: 69 137 255; /* #4589ff */
  --color-flowpipe-blue: 94 143 232; /* #5e8fe8 */
  --color-flowpipe-blue-dark: 77 122 168; /* #4d7aa8 */
}

@layer base {
  html {
    font-size: 14px;
  }
}

@layer components {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }
}
