# in test directory we do want to add .flowpipe because we may be testing mod dependencies
!.flowpipe

output
pipelines/.flowpipe/store
pipelines/.flowpipe/internal
test_suite_mod/.flowpipe/store
test_suite_mod/.flowpipe/internal