name: Flowpipe - Release


on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Select the environment'
        options:
        - Development
        - Final
        required: true
      version:
        description: 'Version'
        required: true
        default: 0.0.\invalid
      confirmMain:
        description: Confirm running on main branch
        required: true
        type: boolean

env:
  GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

jobs:
  create_release_tag:
    name: Tag Release
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.calculate_version.outputs.VERSION }}
    steps:
      - name: validate
        if: github.ref == 'refs/heads/main'
        env:
          CONFIRM_MAIN: ${{ github.event.inputs.confirmMain }}
        run: |
          if [ "$CONFIRM_MAIN" == 'false' ]; then
            echo "It looks like you've accidentally tried to run this action in main branch. Either: "
            echo " - Re-run the action and select the branch you wanted, or"
            echo " - If you really do want to run this for main, then re-run and tick the box to confirm"
            exit 1
          fi

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.ref }}

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Calculate version
        id: calculate_version
        run: |
          if [ "${{ github.event.inputs.environment }}" = "Development" ]; then
            echo "VERSION=${{ github.event.inputs.version }}-beta.$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
          else
            echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - name: Tag Release
        run: |
          git config user.name "Flowpipe GitHub Actions Bot"
          git config user.email noreply@github.com
          git tag $VERSION
          git push origin $VERSION

  build_and_release:
    name: Release
    needs: create_release_tag
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Flowpipe repository
        uses: actions/checkout@v3
        with:
          path: flowpipe
          ref: ${{ needs.create_release_tag.outputs.VERSION }}

      - name: Checkout Flowpipe SDK Go repository
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.FLOWPIPE_GO_SDK_DEPLOY_PRIVATE_KEY }}
          repository: turbot/flowpipe-sdk-go
          path: flowpipe-sdk-go

      - name: Checkout Terraform Components repository
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.TERRAFORM_COMPONENTS_DEPLOY_PRIVATE_KEY }}
          repository: turbot/terraform-components
          path: terraform-components

      - name: Checkout Pipe Fittings Components repository
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.PIPE_FITTINGS_DEPLOY_PRIVATE_KEY }}
          repository: turbot/pipe-fittings
          path: pipe-fittings

      # this is required, check golangci-lint-action docs
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false # setup-go v4 caches by default, do not change this parameter, check golangci-lint-action doc: https://github.com/golangci/golangci-lint-action/pull/704

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
          workdir: flowpipe
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          VERSION: ${{ needs.create_release_tag.outputs.VERSION }}
